In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split

In [27]:
dataset = 'E:\\20201\\ai\\MLDM-20-09-docs\\Bai-tap\\1-training-data.csv'
data = pd.read_csv(dataset,encoding= 'utf-8',sep=',',
                       names=["0", "1", "2", "3", "4","5","6","7", "8"], na_values='?')
data = data[1:]

In [28]:
data

,0,1,2,3,4,5,6,7,8
1,1.743874469,NaN,60,-1.503516547,1,NaN,7,60,35
2,2.429718278,3.660130348,NaN,1.300745763,NaN,-1.58030873,7,15,47
3,2.645640761,3.373107194,NaN,-1.303928954,1,NaN,7,70,40
4,1.978985947,NaN,60,-1.574644429,1,1.317785143,7,NaN,35
5,3.352335044,NaN,64,-1.463320525,1,NaN,7,60,42
...,...,...,...,...,...,...,...,...,...
996,0.438732877,NaN,73,NaN,0,-1.400768365,6,0,34
997,-0.76082064,3.289782688,NaN,NaN,0,-1.453464983,6,0,4
998,NaN,3.375755153,57,0.419288445,0,2.220271952,7,NaN,41
999,2.020201542,NaN,72,2.082538889,NaN,0.456319422,7,60,39
1000,0.69393802,3.26463129,60,-1.476668461,0,-1.371281886,NaN,NaN,28

In [29]:
type(data)

pandas.core.frame.DataFrame

In [30]:
data.fillna(value=0, inplace=True)

In [31]:
data

                0            1   2             3  4             5  6   7   8
1     1.743874469            0  60  -1.503516547  1             0  7  60  35
2     2.429718278  3.660130348   0   1.300745763  0   -1.58030873  7  15  47
3     2.645640761  3.373107194   0  -1.303928954  1             0  7  70  40
4     1.978985947            0  60  -1.574644429  1   1.317785143  7   0  35
5     3.352335044            0  64  -1.463320525  1             0  7  60  42
...           ...          ...  ..           ... ..           ... ..  ..  ..
996   0.438732877            0  73             0  0  -1.400768365  6   0  34
997   -0.76082064  3.289782688   0             0  0  -1.453464983  6   0   4
998             0  3.375755153  57   0.419288445  0   2.220271952  7   0  41
999   2.020201542            0  72   2.082538889  0   0.456319422  7  60  39
1000   0.69393802   3.26463129  60  -1.476668461  0  -1.371281886  0   0  28

[1000 rows x 9 columns]

In [32]:
x = data[["0", "1", "2", "3", "4", "5", "6", "7"]]
y = data["8"]

In [51]:
y.value_counts()

35    81
4     73
40    65
20    55
18    46
32    45
39    42
33    41
41    39
27    35
31    34
26    32
22    30
13    30
42    28
38    28
45    28
34    27
28    27
29    23
25    23
1     22
24    18
23    16
21    16
52    16
46    15
19    12
47    12
9     12
14    12
49    11
36     6
Name: 8, dtype: int64

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=123)

In [9]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_jobs=2, random_state=0)
clf.fit(x_train, y_train)

RandomForestClassifier(n_jobs=2, random_state=0)

In [10]:
clf.score(x_test, y_test)

0.88

In [11]:
clf.predict([[0.45653953,3.451349732,65,-1.459023404,0,-1.511113075,6,0]])

array(['18'], dtype=object)

In [12]:
data_test = pd.read_csv('E:\\20201\\ai\\MLDM-20-09-docs\\Bai-tap\\20163571-test.csv', names=["0", "1", "2", "3", "4","5","6","7", "8"])
print(data_test.iloc[:,0].size)
data_test

15

           0         1   2         3  4         5  6    7   8
0   3.506027  4.284292  68 -1.326985  0 -1.563474  6    0  46
1   0.456540  3.451350  65 -1.459023  0 -1.511113  6    0  18
2   1.629486  3.044049  67 -1.092021  0 -1.717851  7    5  19
3   0.079503  3.256917  63 -1.278307  0 -1.022886  6    0  26
4  -0.765213  3.132100  58 -1.295667  0 -1.479269  6    0   4
5   2.164206  3.879793  68  2.066383  0  1.351687  7   70  35
6   3.143939  4.064667  79  1.789155  1  2.542178  9  100  31
7   3.435617  3.577870  64 -1.151272  1  2.304052  7   60  42
8   1.877052  3.438487  61  0.840070  0 -1.642134  7   15  31
9  -0.322277  3.576741  70  1.217249  0 -0.753353  7   30  20
10  1.792790  3.733128  60  1.686520  0  0.659315  7   30  41
11  4.170646  3.955679  44 -1.432053  1  1.964745  7   40  52
12  0.401754  3.623830  65 -1.560976  0 -1.644953  6    0  18
13  2.814054  4.019359  68  1.379268  1  1.716859  7   35  27
14  1.772321  3.425892  62 -1.278846  1  0.145061  7   30  42

In [13]:
X_test = data_test[["0", "1", "2", "3", "4", "5", "6", "7"]]
X_test

           0         1   2         3  4         5  6    7
0   3.506027  4.284292  68 -1.326985  0 -1.563474  6    0
1   0.456540  3.451350  65 -1.459023  0 -1.511113  6    0
2   1.629486  3.044049  67 -1.092021  0 -1.717851  7    5
3   0.079503  3.256917  63 -1.278307  0 -1.022886  6    0
4  -0.765213  3.132100  58 -1.295667  0 -1.479269  6    0
5   2.164206  3.879793  68  2.066383  0  1.351687  7   70
6   3.143939  4.064667  79  1.789155  1  2.542178  9  100
7   3.435617  3.577870  64 -1.151272  1  2.304052  7   60
8   1.877052  3.438487  61  0.840070  0 -1.642134  7   15
9  -0.322277  3.576741  70  1.217249  0 -0.753353  7   30
10  1.792790  3.733128  60  1.686520  0  0.659315  7   30
11  4.170646  3.955679  44 -1.432053  1  1.964745  7   40
12  0.401754  3.623830  65 -1.560976  0 -1.644953  6    0
13  2.814054  4.019359  68  1.379268  1  1.716859  7   35
14  1.772321  3.425892  62 -1.278846  1  0.145061  7   30

In [14]:
x_test_arr = X_test.values.tolist()

In [15]:
len(x_test_arr)

15

In [16]:
for i in range(len(x_test_arr)):
    print(clf.predict([x_test_arr[i]]))

['46']
['18']
['19']
['26']
['4']
['35']
['31']
['42']
['31']
['20']
['41']
['52']
['18']
['27']
['42']

In [17]:
import time
begin = int(round(time.time() * 1000))
for i in range(len(x_test_arr)):
    clf.predict([x_test_arr[i]])
    end = int(round(time.time() * 1000))
    print(end-begin)
    begin = end

116
109
109
109
109
109
110
108
110
108
109
109
109
109
109